<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Hello, World Application</display-name>
    <description>
	This is a simple web application with a source code organization
	based on the recommendations of the Application Developer's Guide.
    </description>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>mypackage.Hello</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
  <servlet>
    <servlet-name>customer</servlet-name>
    <servlet-class>com.verizon.bs.InsertCustomerServlet</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>customer</servlet-name>
    <url-pattern>/insertCustomer</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>listCustomer</servlet-name>
    <servlet-class>com.verizon.bs.ListCustomer</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>listCustomer</servlet-name>
    <url-pattern>/listCustomer</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>generateBill</servlet-name>
    <servlet-class>com.verizon.bs.GenerateBill</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>generateBill</servlet-name>
    <url-pattern>/generateBill</url-pattern>
  </servlet-mapping>
    
   <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>com.verizon.bs.FileUploadHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
   
 <servlet>
    <servlet-name>addServiceProvider</servlet-name>
    <servlet-class>com.verizon.bs.AddServiceProviderServlet</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>addServiceProvider</servlet-name>
    <url-pattern>/addServiceProvider</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>insertCustProvider</servlet-name>
    <servlet-class>com.verizon.bs.InsertCustProviderDetailServlet</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>insertCustProvider</servlet-name>
    <url-pattern>/insertCustProvider</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>getProviderDetail</servlet-name>
    <servlet-class>com.verizon.bs.GetProviderDetailServlet</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>getProviderDetail</servlet-name>
    <url-pattern>/getProviderDetail</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>pdfCustomerBill</servlet-name>
    <servlet-class>com.verizon.bs.CustomerBillInPDFServlet</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>pdfCustomerBill</servlet-name>
    <url-pattern>/pdfCustomerBill</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>getSlabDataServlet</servlet-name>
    <servlet-class>com.verizon.bs.ServiceProvideSlabData</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>getSlabDataServlet</servlet-name>
    <url-pattern>/getSlabDataServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>sample.hello.resources</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  
</web-app>
